#day0,
#day1,
#day2,
#day3,
#day4,
#day5,
#day6,
#day7,
#day8,
#day9,
#day10,
#day11 {
	display: none;
}

body {
	text-align: center;
	padding: 10px;
}

.transform {
 
}

.transform-click {
	transition: all 2s ease;
}